#addPatient {
	display : none;
}
#addPatient.afficher {
	display: block;
}

#addPatient.afficher > .add {
	display : block;
	position: absolute;
	top:10px;
	right: 10px;
	padding : 2px;
	width: 400px;
	border: solid black 3px;
	background: #F0F0F0;
	z-index : 1000;
}

#map{
    width: 300px;
    height: 275px;
    position: absolute;
    top: 70px;
    left: 950px;
    z-index : 1000;
}

#bt_add{
	position: absolute;
	left: 210px;
	top: 70px;
}

#addPatient>input{
	position: inline-block;
	right: 0px;
}

#PatientsRestants{

	width: 200px;
	border: black solid 1px;

}

.patient{
        display : block ;
        width : auto;
        text-align: center;
        color: white;
        //height : 60px;
        border : black solid 1px;
        background: rgba(137,183,215,1);
        margin: 4px;
        padding :5px;
}

.fondModal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.85;
	z-index:999;
}
/*
table, td, th {
    border: 1px solid green;
}
*/

thead{
   background-color: rgba(137,183,255,1);;
    color: white;
}


#Affectations{

	position: absolute;
	top:70px;
	left:350px;
 
}




@-webkit-keyframes wobble-horizontal {
16.65% {
-webkit-transform: translateX(8px);
transform: translateX(8px);
}
33.3% {
-webkit-transform: translateX(-6px);
transform: translateX(-6px);
}
49.95% {
-webkit-transform: translateX(4px);
transform: translateX(4px);
}
66.6% {
-webkit-transform: translateX(-2px);
transform: translateX(-2px);
}
83.25% {
-webkit-transform: translateX(1px);
transform: translateX(1px);
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes wobble-horizontal {
16.65% {
-webkit-transform: translateX(8px);
transform: translateX(8px);
}
33.3% {
-webkit-transform: translateX(-6px);
transform: translateX(-6px);
}
49.95% {
-webkit-transform: translateX(4px);
transform: translateX(4px);
}
66.6% {
-webkit-transform: translateX(-2px);
transform: translateX(-2px);
}
83.25% {
-webkit-transform: translateX(1px);
transform: translateX(1px);
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
.patient {
display: block;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.patient:hover, .patient:focus, .patient:active {
-webkit-animation-name: wobble-horizontal;
animation-name: wobble-horizontal;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}